<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Figures Index</title>
</head>
<body>

  <h1>Figure List</h1>
  
    <% @figures.each do |figure| %>
    <a href="/figures/<%= figure.id %>"><%= figure.name %></a>
    <ul>
      <%figure.titles.each do |title|%>
      <li><%=title.name%></li>
      <%end%>
    </ul>
    <% end %>
</body>
</html>